*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: #f3efce;
    color: #042c47;
}
body::-webkit-scrollbar {
    display: none;
}
nav{
    height: 80px;
    width: 100%;
}
nav div.logo{
    float: left;
    line-height: 80px;
    width: 75px;
    margin-left: 75px;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: #f42c46;
}
nav ul{
    line-height: 80px;
    float:right ;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 60px;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 20px 5px;
    border-radius: 5px;
    color: #042c47;
    /* transition: .25s ease-out; */
}
div.hero{
    margin: 50px 250px;
    display: inline-flex;
    justify-content: space-between;
}
div.hero_text{
    padding-top: 70px;
    display: inline-block;
    float: left;
}
div.hero h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: #f42c46;
    margin-bottom: 50px;
}
div.hero h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}
div.hero h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
    color: #042c47;
    opacity: 75%;
    margin: 15px 0;
}
div.hero button{
    width: 150px;
    height: 40px;
    background-color: #f42c46;
    color: #042c47;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    font-stretch: semi-condensed;
    cursor: pointer ;
}
hr.head{
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f3efce, #f42c46, #f3efce);
    width: 100%;
    padding: 0 ;
    margin: 0 ;
    text-align: center;
}
.mobile img {
    padding-left: 100px;
    display: inline-block;
    float: right;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
div.about{
    background: #042c47;
    margin: 100px 150px;
    border-radius: 5px;
}
div.about h3{
    padding: 100px 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    font-stretch: condensed;
    color: #f42c46;
}
div.about h2{
    color: #fff;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 1.8rem;
    padding: 0 100px 100px;

}
div.features h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 50px;
    color: #f42c46;
}
div.product{
    margin: 50px 220px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.one, .two, .three, .four{
    display: inline-block;
    flex-grow: 1;
    height: 200px;
    width: 100px;
    text-align: center;

}
div.product h5{
    padding-top: 15px;
    align-items: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-stretch:ultra-expanded ;
}
.one img{
    align-items: center;
}
.two img{
    align-items: center;
}
.three img{
    align-items: center;
}
.four img{
    align-items: center;
}
.offer img{
    border-radius: 5px;
}
.contact h2{
    text-align: center;
    color: #f42c46;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.5rem;
}
hr.tail{
    border: 0;
    margin: 0 150px 70px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f3efce, #f42c46, #f3efce);

}
.contact h2{
    margin-bottom: 25px;
}
form{
    display: block;
    text-align: center;
    padding-bottom: 70px;
}
form input{
    border-color: #f42c46;
    border-width: 5px solid;
    border-style: solid;
    box-shadow: none;
    background-color: #f3efce;
    color: #042c47;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 20px;
}
form button{
    width: 100px;
    height: 32px;
    background-color: #f42c46;
    color: #042c47;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    font-stretch: semi-condensed;
    cursor: pointer ; 
}
footer h2, div.social{
    display: inline-block;
    margin: 0 35px 10px;
    line-height: 50px;

}
footer{
    line-height: 30px;
    position: relative;
}
footer h2{
    float: left;
    font-size: 0.9rem;
    font-weight: 400;
    color: #f42c46;
    margin-left: 35px;
}
footer div.social{
    overflow: hidden;
    float: right;
    margin-right: 50px;
}
footer div.social img{
    width: 30px;
    margin-left: 15px;
}
.hover-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f42c46;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width:480px) {
    nav div.logo{
        font-size: 1.5rem;
        margin-left: 30px;

    }
    body{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    div.hero{
        padding: 0;
        margin: 50px 0 50px ;
        display: block;
        align-items: center;
    }
    div.hero img{
        display: none;
    }
    div.hero_text{
        display: contents;
        width: 100px;
        padding: 0;
    }
    div.hero_text h3, h1, h5, button{
        text-align: center;
    }
    div.hero_text h3, h1, h5{
        font-size: 1rem;
    }
    div.hero_text h3{
        margin-bottom: 20px;
    }
    div.hero_text h1{
        font-size: 1.5rem;
    }
    div.hero_text h5{
        font-size: 0.7rem;
    }
    div.hero_text button{
        display: block;
        margin: auto;
        font-size: 0.8rem;
        width: 120px;
        height: 30px;
    }
    div.about{
        margin: 0 30px;
        text-align: center;
    }
    div.about h3{
        padding: 30px;
        font-size: 0.7rem;
    }
    div.about h2{
        padding: 0 30px 60px;
        font-size: 1.2rem;
    }
    div.features{
        margin-top: 50px;
    }
    div.features h1{
        font-size: 1.2rem;
    }
    .one, .two, .three, .four{
        width: 80px;
    } 
    div.product{
        align-items: center;
        margin: 0 50px;
    }
    hr.tail{
        width: 100%;
        padding: 0 ;
        margin: 30px 0 30px ;
        text-align: center;
    }
    footer h2{
        font-size: 0.8rem;
        margin-left: 25px;
    }
    footer div.social{
        margin-right: 25px;
    }
    footer div.social img{
        height: 20px;
        margin-left: 0;
    }
}